@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraOpenType/fira_sans/FiraSansOT-Regular.otf) format("opentype");
}
html {
  font-family: "Fira Sans", sans-serif;
  background: #C0CDD8;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 90%;
}
html *, body, head, div {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#title {
  text-align: center;
  margin-bottom: 20px;
}
h1,h2 {
  margin: 0;
}
#my_pic {
  padding-top: 6px;
  width: 140px;
  margin: 0 auto;
}
.container {
  width: 475px;
  height: auto;
  margin: 40px auto;
}
#column_left {
  width: 25%;
  float: left;
}
#column_right {
  width: 75%;
  float: left;
}

#menu {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background: #8093a8;
}

#menu ul{
  list-style: none;
  padding: 25px 0 15px;
  line-height: 1;
  display: block;
  zoom: 1;
  width: auto;
  cursor: pointer;
  text-align: center;
}

#menu ul li {
  display: inline;
  margin: 5px 20px;
  font-size: 40px;
}

#menu ul li a {
  text-decoration: none;
  color: #333a43;
}

#menu ul li a:hover {
  color: #1b1f24;
}

#iframe {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  width: 95%;
  min-height: 500px;
  height: 90%;
}

.button {
  background-color: #8093A8;
  margin: 5px;
  padding: 8px 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.button:hover {
  background-color: #596d82;

}

#menu ul li a, #menu ul li a:hover, .button, .button:hover {
  -webkit-transition: ease-in-out .2s;
  -moz-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.accomplishments li {
  margin: 5px 0 0 15px; 
}
