@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraOpenType/fira_sans/FiraSansOT-Regular.otf) format("opentype");
}
html {
  font-family: "Fira Sans", sans-serif;
  background: #b1bdc9;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 90%;
}
html *, body, head, div {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#title {
  text-align: center;
  margin-bottom: 20px;
}
h1,h2 {
  margin: 0;
}
#my_pic {
  padding-top: 5px;
  width: 140px;
  margin: 0 auto;
}
.container {
  width: 600px;
  margin: 40px auto;
}
#column_left {
  width: 25%;
  float: left;
}
#column_right {
  width: 75%;
  float: left;
}

#menu {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 20px 0;
  background: #8093a8;
}

#menu ul{
  list-style: none;
  padding: 15px 0 10px;
  line-height: 1;
  display: block;
  zoom: 1;
  width: auto;
  cursor: pointer;
  text-align: center;
}

#menu ul li {
  display: inline;
  margin: 0 15px;
  font-size: 40px;
}

#menu ul li a {
  text-decoration: none;
  color: #333a43;
}

#menu ul li a:hover {
  color: #1e2328;
}

#iframe {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  width: 95%;
  min-height: 500px;
  height: 90%;
}




